@import url("fonts.css");
      
body {
    background-color: #D6D2D2;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
color: #565264;
text-decoration: none;
}

a:visited {
color: #565264;
}

a:hover {
color: #565264;
font-weight: bold;
}

a:active {
color: #565264;
} 

p {
    margin: 10px 60px 10px 60px;
}
    h1 {
    color: #75184F;
    font-family: Abril Fatface;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: 1px 1px #000000;        }

h2 {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-family: Nixie One;
    font-size: 16px;
}

h3 {
    margin: 20px 0px 0px 0px;
    color: #B2827E;


}

blockquote {
    background-color: transparent;
    color: #fff;
font-size: 16px;
font-family: Garamond;
margin: 0 30px 0 30px;
text-align: right;
}

blockquote:before {
color: #fff;
font-family: Passion One;
content: open-quote;
font-size: 1.5em;
margin: 0;
padding: 0;

}

blockquote:after {
color: #fff;

font-family: Passion One;
content: close-quote;
font-size: 1.5em;
margin: 0;
padding: 0;

}

cite {
text-align: right;
margin: 0px 50px 0px 0px;
color: #fff;
font-size: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sub {
    width: 100px;
    background-color: #C49792;
}



input {
    margin: 0;
    padding: 0;
}

.header {
    border: 0px;
    grid-area: head;
}

.container {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    border: 0px;
    grid-auto-flow: column;
    grid-template-areas:
    "head head"
    "nav nav"
    "welcome welcome"
    "side av"
    "content content"
    "footer footer";

}


.av {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    grid-area: av;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.side {
    grid-area: side;
    margin: 30px 30px 0px 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border: 0px;
    margin 0;
    padding: 0;
    grid-area: nav;
}

.welcome {
    display: flex;
    justify content: center;
    align-items: center;
    grid-area: welcome;
    font-size: 20px;
}



.content {
    display: flex;
    flex-direction: column;
    background-image: url("https://i.ibb.co/D5KMJJg/foxblog.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    grid-area: content;
}

.footer {
    background-color: #FFF;
    text-align: center;
    grid-area: footer;
}

#email {
    width: 150px;
}
@media (min-width: 800px) and (max-width:2000px) {
.container {

    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    border: 0px;
    grid-auto-flow: column;
    grid-template-areas:
    "head head"
    "nav nav"
    " av welcome"
    "side content"
    "side content"
    "footer footer";

}
