@import url("fonts.css");
@import url("headings.css");
@import url("links.css");


body {
    background-color: #D6D2D2;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 10px 60px 10px 60px;
}


blockquote {
    background-color: transparent;
    color: #fff;
font-size: 16px;
font-family: Garamond;
margin: 0 30px 0 30px;
text-align: right;
}

blockquote:before {
color: #fff;
font-family: Passion One;
content: open-quote;
font-size: 1.5em;
margin: 0;
padding: 0;

}

blockquote:after {
color: #fff;

font-family: Passion One;
content: close-quote;
font-size: 1.5em;
margin: 0;
padding: 0;

}

cite {
text-align: right;
margin: 0px 50px 0px 0px;
color: #fff;
font-size: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sub {
    width: 100px;
    background-color: #C49792;
}



input {
    margin: 0;
    padding: 0;
}

.header {
    border: 0px;
    grid-area: head;
}

.blogtitle {
    font-family: Archivo Black;
    color: #75184F;
}

.container {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    border: 0px;
    grid-auto-flow: column;
    grid-template-areas:
    "head head"
    "nav nav"
    "blog blog"
    "author author"
    "side side"
    "footer footer";

}


.av {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    grid-area: av;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.av2 {
    width: 100px;
    height: 100px;
    background-image: url("https://i.ibb.co/M94zV3x/bryan-walker-J7zm-Hzpqhd-M-unsplash.jpg");
    background-size: contain;
    border-radius: 20%;

    margin: 20px 0px 20px 20px;
    padding: 20px;
}

.auth-bio {
    margin: 20px 0px 0px 0px;
    padding: 0;
    
}

.side {
    grid-area: side;
    margin: 30px 30px 0px 30px;
}

.blog {
    grid-area: blog;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border:0px;
    margin 0;
    padding: 0;
    grid-area: nav;
}

.author {
    margin: 10px 60px 10px 60px;
    grid-area: author;
    display: flex;

}

.welcome {
    display: flex;
    justify content: center;
    align-items: center;
    grid-area: welcome;
}


.share {
    margin: 10px 60px 10px 60px;
}


.content {
    display: flex;
    flex-direction: column;
    background-image: url("https://i.ibb.co/D5KMJJg/foxblog.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    grid-area: content;
}

.footer {
    background-color: #FFF;
    text-align: center;
    grid-area: footer;
}

#email {
    width: 150px;
}

@media (min-width: 800px) and (max-width:2000px) {
    .container {
    
        display: grid;
        grid-gap: 10px;
        width: 100%;
        height: 100%;
        border: 0px;
        grid-auto-flow: column;
        grid-template-areas:
        "head head"
        "nav nav"
        "side blog"
        "side blog"
        "side author"
        "footer footer";
    
    }
